container_commands:
  01-setvars:
    command: /opt/elasticbeanstalk/bin/get-config environment | jq -r 'to_entries | .[] | "export \(.key)=\"\(.value)\""' > /etc/profile.d/sh.local
  05-run-db-migrations:
    command: "composer.phar --no-interaction phinx migrate"
    ignoreErrors: false
    leader_only: true
packages: 
  yum:
    jq: []
  