{"filter":false,"title":"20_run_tests.config","tooltip":"/.ebextensions/20_run_tests.config","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":10},"end":{"row":0,"column":10},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1477964986000,"hash":"9fa0b94932208efd46ce3a5fa2027cf1694b1646"}